@page
@model SiteWeb.Pages.DisclaimerModel
@{
    ViewData["Title"] = "Disclaimer";
}

<section class="disclaimer-section">
    <h1 class="h2  align-left">@ViewData["Title"]</h1>
    <p>
        <strong>This is information - not financial advice or recommendation</strong>
    </p>
    <p>
        The content and materials featured or linked to on OpasInvestments.co.uk are for your information and education only and are not intended to address your particular personal financial requirements.
    </p>
    <p>
        The information does not constitute as financial advice or recommendation and should not be considered as such. Opas Investments is not regulated by the Financial Conduct Authority (FCA), it’s authors are not financial advisors and it is therefore not authorised to offer financial advice.
    </p>
    <p>
        <strong>Investing carries risks</strong>
    </p>
    <p>
        The value of investments and any income derived from them can fall as well as rise and you may not get back from the original amount you invested.
    </p>

</section>