@page
@model SiteWeb.Pages.RegisterModel
@{
    ViewData["Title"] = "Book a free consultation";
}

<section id="registration" class="grid-x grid-padding-x align-center">
    <div class="large-6 medium-12 cell">

        <h1 class="h2 align-left">@ViewData["Title"]</h1>

        <div class="calendly-inline-widget" data-url="https://calendly.com/opasinvestments?primary_color=061a37" style="min-width:320px;height:700px;"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>

    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}