@page
@model SiteWeb.Pages.RegisterSuccessModel
@{
}
<section id="registration" class="grid-x grid-padding-x align-center">
    <div class="large-6 medium-12 cell">
        <h1 class="h1 align-left">Thank you for getting in touch!</h1>
        <p>Someone will contact you within your availability window.</p>
        <p>We look forward to speaking with you.</p>
        <a asp-page="Index" class="p">Return Home</a>
    </div>
</section>