@page
@model SiteWeb.Pages.GuidanceModel
@{
    ViewData["Title"] = "Guidance";
}

<section class="disclaimer-section">
    <div class="container">
        <div class="body-margin">
            <h1 class="h2">@ViewData["Title"]</h1>
            <hr>
            <h2 class="h3">Why you need to be investing in @DateTime.Today.Year</h2>
            <p>
                The everyday person is following the financial blueprint that their parents used. Who functioned, without the internet and the minefield of tools and information that is available today. When it comes to knowing where an effective place is to make your money work for you. The first thing you need to know is that Banks are one of the worst places.
            </p>
            <p>
                Let’s say you use a mainstream bank. You use their bank account, keep your capital there, use their ultra-secure and safe banking portals and apps, they have offices in every city, Bank branches in every town, and cash machines in walls wherever you look. If you are reading this, it is likely that you are using a global conglomerate operating across multiple continents with customers like yourself, all over the planet.
            </p>
            <p>
                My question is simple. How much do you pay to use all of these services? How do they make money if you don’t pay them? The most common answer I get from new Opas Members is that they genuinely don’t have a clue.
            </p>
            <p>
                In layman's terms, the Banks use your money to create more of it. It’s called Fractional Reserve Banking and a simple way to explain it is by clicking on the video below.
            </p>
            <div class="ratio ratio-16x9 md">
                <iframe src="https://www.youtube-nocookie.com/embed/6eTAyvxitOI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <br />
            <h3 class="h4">In summary:</h3>
            <ul>
                <li>
                    You don’t pay to use the bank because they make money from your money using Fractional Reserve Banking and give a rate of interest on your money for holding it with them. The average is 1% on a good day.
                </li>
                <li>
                    Banks can leverage as much as 90% of your money and loan it to others, and they can repeat this process with your money, continuously. On paper, you have money in your bank account but it's not there as it is actually a fraction from someone else's funds.
                </li>
                <li>
                    This surplus of cash that came from your bank account is replicated over every person's bank account. This eventually devalues the currency itself due to inflation as they are essentially printing money from your money. Extreme versions of this are called hyper-inflation which is what happened to post World War Germany in 1921 and Zimbabwe formerly known as Rhodesia over the last 20 years.
                </li>
            </ul>
            <br>
            <h2 class="h4">Inflation</h2>
            <p>
                The issue this brings to you is that the interest rates given by the banks are squashed by inflation. Inflation is the increase in the price of goods, as your money is worth less. You may have £20,000 now but at 10% inflation. Your cash has decreased by £2000 in value meaning you have the buying power of £18,000. Inflation is basically a silent killer of your hard-earned savings. As prices go up over time, the purchasing power of your money decreases as there is less that you can buy with it. This is why it is crucial to not have money rotting in the bank but to have it working for you in assets. The objective is for your money to grow and at the bare minimum, maintain its value over time against inflation. Which is the opposite of what happens when you leave it in the bank.
            </p>
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube-nocookie.com/embed/xHgTAJw7Fvg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <h3 class="h4">In summary:</h3>
            <ul>
                <li>
                    Day trading is a full-time job as it requires you to keep your finger on the pulse. The vast majority of successful investors use long-term investing strategies.
                </li>
                <li>
                    It is not a get-rich scheme, If you want fast money and excitement, go to Vegas. Successful trading is achieved through long-term plays and strategy. It is logical, it is simple and it is safer.
                </li>
            </ul>
            <br />
            <p>
                Dollar-cost averaging is a simple and effective long-term way to invest your money, regardless of your level of experience. The rules of the strategy are simple. By investing a fixed amount of money on a regular basis (An example of this would be £400 every month for the next 15 years) we continue to buy regardless of the market conditions. In other words, we ride the waves of the market. Over the long run, the selected stocks statistically climb higher and higher. Meaning that the big drops we live through are insignificant in context to the 15 years.
            </p>
            <p>
                At OPAS Investments, our investment approach is designed to help your money work for you. Our strategy that can be backdated to the 1960’s, returning an annual average of 21.3% which beats the market and the likes of Berkshire Hathaway and that's not including dividends. The compound effect of 21.3% interest on your money will increase your funds to a rate you probably never thought possible. To test it for yourself. Click <a asp-page="/Calculator">here</a> to use our money calculator for free.
            </p>
            <p>
                Regardless of the Opas Strategy, or investing in the stock market for that matter. Investing your assets in the right vehicle, whether it be Property, the Stock Market, Forex, etc, with the right investment and strategy behind it, can significantly change your financial situation.
            </p>
            <p>
                To learn more about how Opas Investments can help you, please go to our <a asp-page="/Strategies">Strategies</a> tab or book in for a call to speak to someone.
            </p>
            <br />
        </div>
    </div>
</section>