@page
@model SiteWeb.Pages.ResearchModel
@{
    ViewData["Title"] = "Research";
}

<section class="disclaimer-section">
    <div class="container">
        <div class="body-margin">
            <h1 class="h2 align-left">@ViewData["Title"]</h1>
            <hr>
            <div class="p-5 mb-5 text-center bg-body-tertiary rounded-3">
                <h2 class="text-body-emphasis h3">Research Questionnaire</h2>
                <p class="lead">Please take some time to answer the questionnaire below. This will help use shape the future of Opas to best fit your needs.</p>
                <a class="button btn-primary px-5" href="https://forms.gle/k1U6C5cTTTPGRfRi8"><b>Answer here</b></a>
            </div>
            <h2 class="h3 text-center">Future Projects</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="col pe-md-5">
                    <h3 class="h4 text-center">Day Trading</h3>
                    <p>
                        Join our exclusive team of testers and data collectors to unveil the next-gen day trading strategy. Currently averaging a 70% success rate, our 5-rule system seals 7 out of 10 trades within the same day. Averaging an impressive 12% weekly returns, become a trailblazer of trading innovation through our "Research" tab. Exclusive to Opas Members. (<a asp-page="/guidance">Day trading carries risk</a>)
                    </p>
                </div>
                <div class="col">
                    <h3 class="h4 text-center">Semantic Analysis</h3>
                    <p>Unveiling Future Potential. Opas Investments aspires to integrate a live semantic analysis system for deciphering media impact on specific topics or industries. Understanding the profound influence of media in shaping investor decision making, Opas is poised to pave the way for a bullish or bearish drive. While this endeavor is in its infancy, Opas is committed to assembling a dedicated team in the near future. Stay tuned for future developments!</p>
                </div>
            </div>
        </div>
    </div>
</section>