@page
@model SiteWeb.Pages.StrategiesModel
@{
    ViewData["Title"] = "Strategies";
}

<section class="disclaimer-section">
    <div class="container">
        <div class="body-margin">
            <h1 class="h2 align-left">@ViewData["Title"]</h1>
            <hr>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="d-flex mb-3">
                    <div class="pe-md-5">
                        <h2 class="h3">The Opas Strategy</h2>
                        <p>
                            The application of the Opas Strategy is incredibly simple. Using a strategy simply means to follow a set of rules, which is exactly what we do. We apply a rigorously tested algorithm that indicates the top 25 stocks from the Opas Strategy from a database of 4000 companies and we purchase the top 25 companies every month. Which we then hold for a maximum of 12 months before selling.
                        </p>
                        <p>
                            When we sell a portfolio after having it for 12 months, we take the return and initial invested sum and reinvest it into the following year's portfolio.
                            After your first 12 months, you will be in a position to continue investing every month but also taking returns. Plus dividends.
                        </p>
                        <div class="p-5 mb-5 bg-body-tertiary rounded-3 toggle-width">
                            <h2 class="h4 text-body-emphasis text-center">
                                Sign up today with a Risk-Free 3 Month Trial
                            </h2>
                            <p>
                                We understand that investing has always been painted with the brush of being too good to be true. To help you remove all risk and worry, we offer a <strong>3 Month Free Trial</strong> of our full Opas Membership called Opas Platinum as we are that confident that you will have a great experience.
                            </p>
                            <p class="text-center pt-2"><strong>How It Works</strong></p>
                            <ul>
                                <li><strong>Data-Driven Selection:</strong> Our powerful algorithm scours performance data from 4000 companies, handpicking the top 25 poised for growth each month.</li>
                                <li><strong>Monthly Guidance:</strong> On the first day of the month, you receive the Opas Strategy, featuring the 25 chosen companies. Your task? Buy these stocks and hold onto them for up to 12 months.</li>
                                <li><strong>Yearly Review:</strong> When the following month arrives. We sell the previous year's portfolio – with a twist: we only sell stocks not part of the new year's selection, ensuring you stay invested in potential winners.</li>
                                <li><strong>Repeat and Reap:</strong> This cycle repeats monthly, 12 times a year. As you follow our guidance, you start selling and taking returns monthly, reinvesting in the new year's portfolios</li>
                            </ul>
                            <div class="pt-2 text-center">
                                <a asp-page="/inquire" style="color: #000;">
                                    <h3 class="h4"><strong>Ready to begin?</strong></h3>
                                    <p>Start your risk-free 3-month trial now.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary col-md-3">
                    <a class="d-flex align-items-center flex-shrink-0 p-3 text-decoration-none border-bottom" style="color: #000">
                        <span class="fs-5 fw-semibold">December 2023 YTD: 16.57%</span>
                    </a>
                    <div class="list-group list-group-flush border-bottom scrollarea">
                        <div class="list-group-item list-group-item-action py-3 lh-sm">
                            <div class="d-flex w-100 mt-1 mb-3 align-items-center justify-content-between">
                                <strong>01. January</strong>
                                <strong style="color: #00cc44;">19.21%</strong>
                            </div>
                            <div class="d-flex w-100 mt-3 mb-1 align-items-center justify-content-between">
                                <span>25 Companies</span>
                                <span>£5596.05</span>
                            </div>
                        </div>
                        <div class="list-group-item list-group-item-action py-3 lh-sm">
                            <div class="d-flex w-100 mt-1 mb-3 align-items-center justify-content-between">
                                <strong>02. February</strong>
                                <strong style="color: #00cc44;">16.08%</strong>
                            </div>
                            <div class="d-flex w-100 mt-3 mb-1 align-items-center justify-content-between">
                                <span>25 Companies</span>
                                <span>£580.40</span>
                            </div>
                        </div>
                        <div class="list-group-item list-group-item-action py-3 lh-sm">
                            <div class="d-flex w-100 mt-1 mb-3 align-items-center justify-content-between">
                                <strong>03. March</strong>
                                <strong style="color: #00cc44;">16.06%</strong>
                            </div>
                            <div class="d-flex w-100 mt-3 mb-1 align-items-center justify-content-between">
                                <span>25 Companies</span>
                                <span>£580.30</span>
                            </div>
                        </div>
                        <div class="list-group-item list-group-item-action py-3 lh-sm">
                            <div class="d-flex w-100 mt-1 mb-3 align-items-center justify-content-between">
                                <strong>04. April</strong>
                                <strong style="color: #00cc44;">21.61%</strong>
                            </div>
                            <div class="d-flex w-100 mt-3 mb-1 align-items-center justify-content-between">
                                <span>25 Companies</span>
                                <span>£633.05</span>
                            </div>
                        </div>
                        <div class="list-group-item list-group-item-action py-3 lh-sm">
                            <div class="d-flex w-100 mt-1 mb-3 align-items-center justify-content-between">
                                <strong>05. May</strong>
                                <strong style="color: #00cc44;">36.02%</strong>
                            </div>
                            <div class="d-flex w-100 mt-3 mb-1 align-items-center justify-content-between">
                                <span>25 Companies</span>
                                <span>£680.10</span>
                            </div>
                        </div>
                        <div class="list-group-item list-group-item-action py-3 lh-sm">
                            <div class="d-flex w-100 mt-1 mb-3 align-items-center justify-content-between">
                                <strong>06. June</strong>
                                <strong style="color: #00cc44;">26.36%</strong>
                            </div>
                            <div class="d-flex w-100 mt-3 mb-1 align-items-center justify-content-between">
                                <span>25 Companies</span>
                                <span>£631.80</span>
                            </div>
                        </div>
                        <div class="list-group-item list-group-item-action py-3 lh-sm">
                            <div class="d-flex w-100 mt-1 mb-3 align-items-center justify-content-between">
                                <strong>07. July</strong>
                                <strong style="color: #00cc44;">14.76%</strong>
                            </div>
                            <div class="d-flex w-100 mt-3 mb-1 align-items-center justify-content-between">
                                <span>25 Companies</span>
                                <span>£573.80</span>
                            </div>
                        </div>
                        <div class="list-group-item list-group-item-action py-3 lh-sm">
                            <div class="d-flex w-100 mt-1 mb-3 align-items-center justify-content-between">
                                <strong>08. August</strong>
                                <strong style="color: #00cc44;">17.06%</strong>
                            </div>
                            <div class="d-flex w-100 mt-3 mb-1 align-items-center justify-content-between">
                                <span>25 Companies</span>
                                <span>£585.30</span>
                            </div>
                        </div>
                        <div class="list-group-item list-group-item-action py-3 lh-sm">
                            <div class="d-flex w-100 mt-1 mb-3 align-items-center justify-content-between">
                                <strong>09. September</strong>
                                <strong style="color: #00cc44;">5.49%</strong>
                            </div>
                            <div class="d-flex w-100 mt-3 mb-1 align-items-center justify-content-between">
                                <span>25 Companies</span>
                                <span>£527.45</span>
                            </div>
                        </div>
                        <div class="list-group-item list-group-item-action py-3 lh-sm">
                            <div class="d-flex w-100 mt-1 mb-3 align-items-center justify-content-between">
                                <strong>10. October</strong>
                                <strong style="color: #00cc44;">8.02%</strong>
                            </div>
                            <div class="d-flex w-100 mt-3 mb-1 align-items-center justify-content-between">
                                <span>25 Companies</span>
                                <span>£540.10</span>
                            </div>
                        </div>
                        <div class="list-group-item list-group-item-action py-3 lh-sm">
                            <div class="d-flex w-100 mt-1 mb-3 align-items-center justify-content-between">
                                <strong>11. November</strong>
                                <strong style="color: #00cc44;">6.33%</strong>
                            </div>
                            <div class="d-flex w-100 mt-3 mb-1 align-items-center justify-content-between">
                                <span>25 Companies</span>
                                <span>£531.65</span>
                            </div>
                        </div>
                        <div class="list-group-item list-group-item-action py-3 lh-sm">
                            <div class="d-flex w-100 mt-1 mb-3 align-items-center justify-content-between">
                                <strong>12. December</strong>
                                <strong style="color: #00cc44;">6.87%</strong>
                            </div>
                            <div class="d-flex w-100 mt-3 mb-1 align-items-center justify-content-between">
                                <span>25 Companies</span>
                                <span>£534.35</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>