@page
@model SiteWeb.Pages.SustainabilityModel
@{
    ViewBag.Icon = "Sustainability";
}

<section class="disclaimer-section">
    <div class="container marketing">
        <div class="body-margin">
            <h1 class="h1">Sustainability</h1>
            <hr>
            <h2 class="h3">Mission Statement</h2>
            <blockquote>
                <p class="text-center">
                    "At OPAS Investments, we prioritize sustainability as a core value in all aspects of our business. From how we invest to how we operate, we take into account environmental and social impacts. Our vision is to provide exceptional financial results while also ensuring a sustainable future. As we continue to grow and expand, we will invest in our strategies to ensure they remain market-beating, while also upholding our commitment to sustainability. Trust OPAS Investments to provide financial success with a responsible and sustainable approach."
                </p>
                <footer class="text-center"> - Alex Pearson, Founder</footer>
            </blockquote>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Sustainable Investing</h2>
                    <p class="lead">
                        Investing with a sustainable approach is a top priority at Opas with it centred on positive <strong>environmental</strong>, <strong>social</strong>, and <strong>governance</strong> practices. As we grow, we intend to invest in various sectors, from renewable energy, sustainable food sourcing, Environmental Conservation to Human rights, and social impact, companies but still provide market-beating returns
                    </p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" width="500" height="500"  src="~/images/OpasVennDiagram.svg" alt="Opas Sustainability Ven Diagram">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">Environmental</h2>
                    <p class="lead">
                        ESG investing's environmental aspect examines how companies address ecological concerns. It evaluates a firm's carbon footprint, resource usage, and efforts towards sustainability. Investors seek environmentally conscious practices to support businesses mitigating climate change and promoting responsible resource management.
                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="featurette-image img-fluid mx-auto" width="500" height="500" src="~/images/Enviromental.svg" alt="Opas Sustainability Ven Diagram">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Social</h2>
                    <p class="lead">
                        The social element assesses a company's impact on people and communities. It includes labor practices, diversity, human rights, and community engagement. Socially responsible investing supports companies fostering positive societal contributions, fair labor practices, and inclusivity, acknowledging the long-term influence on sustainability and financial performance.
                    </p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" width="500" height="500" src="~/images/Social.svg" alt="Opas Sustainability Ven Diagram">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">Governance</h2>
                    <p class="lead">
                        ESG's governance aspect scrutinizes a company's leadership, structure, and ethical standards. Investors assess transparency, accountability, and adherence to ethical business practices. Governance-focused investing aims to support companies with robust structures, responsible leadership, and ethical decision-making, fostering long-term stability and shareholder value.
                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="featurette-image img-fluid mx-auto" width="500" height="500" src="~/images/Economic.svg" alt="Opas Sustainability Ven Diagram">
                </div>
            </div>

            <hr class="featurette-divider">

        </div>
    </div>
</section>