@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section>
    <div class="container">
        <p style="text-align: center; opacity: 0.6;">©@DateTime.Now.Year Opas Investments Ltd.</p>
    </div>
</section>