<footer class="footer">
    <div class="footer-container">
        <div class="footer-action">
            <p>If you've made it this far, surely you're open to a chat?</p>
            <a class="button" asp-page="/enquire">Book in a call</a>
        </div>
        <div>
            <p>©2023 Opas Investments Ltd.</p>
            <p>All rights reserved</p>
            <a class="nav-link" asp-page="/disclaimer">Disclaimer</a> |
            <a class="nav-link" asp-page="/terms">Terms of Use</a>
@*            <a class="nav-link" asp-page="/privacy">Privacy Policy</a> |*@
@*            <a class="nav-link" asp-page="/cookies">Cookies</a>*@
        </div>
    </div>
</footer>