<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Pages/Shared/_Head.cshtml" />
</head>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol id="chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
        </symbol>
    </svg>

    <header>
        <partial name="~/Pages/Shared/_NavBar.cshtml" />
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <partial name="~/Pages/Shared/_Footer.cshtml" />
    <partial name="~/Pages/Shared/_Scripts.cshtml" />

    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("userDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>

    @{
        await RenderSectionAsync("Scripts", required: false);
    }

</body>
</html>