@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<section id="loginForm" class="grid-x grid-padding-x align-center">
    <div class="large-6 medium-12 cell">
        <h1 class="h1 align-left">@ViewData["Title"]</h1>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</section>