@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<section id="loginForm" class="grid-x grid-padding-x align-center">
    <div class="large-6 medium-12 cell">
        <h1 class="h2 text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">This account has been locked out, please try again later.</p>
    </div>
</section>
