@page
@model SiteWeb.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<section id="loginForm" class="grid-x grid-padding-x align-center">
    <div class="large-6 medium-12 cell">
        <h1 class="h2 align-left">@ViewData["Title"]</h1>
        <p>You have successfully logged out of the application.</p>
    </div>
</section>