@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<section id="loginForm" class="grid-x grid-padding-x align-center">
    <div class="large-6 medium-12 cell">
        <h1 class="h2 align-left">@ViewData["Title"]</h1>
        <h2>Enter your email.</h2>

        <form method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <hr />
            <div class="grid-x grid-padding-x align-left">
                <div class="large-3 cell">
                    <label asp-for="Input.Email" class="text-left middle"></label>
                </div>
                <div class="large-9 cell">
                    <input asp-for="Input.Email">
                    <span asp-validation-for="Input.Email"></span>
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="large-3 small-12 cell">
                    <button class="button btn-primary" type="submit">Resend</button>
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
