@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<section id="loginForm" class="grid-x grid-padding-x align-center">
    <div class="large-6 medium-12 cell">
        <h1 class="h2 align-left">@ViewData["Title"]</h1>
        <p>
            Your password has been reset. Please <a class="link" asp-page="./Login">click here to log in</a>.
        </p>
    </div>
</section>