@page
@model IndexModel
@{
}

<section class="landing-main">
    <div class="container">
        <div class="row">
            <div class="xs-12">
                <a class="landing-main-box" asp-page="/Account/Admin/Enquiries/Index">
                    <div class="landing-container">
                        <h2 class="landing-title">Enquiries</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="xs-12">
                <a class="landing-main-box" asp-page="/Account/Admin/Users/Index">
                    <div class="landing-container">
                        <h2 class="landing-title">Users</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
